/* liScroll styles */

.ticker_title{
	padding:0 0 0 20px;
	position:absolute;
	color:#FFF; font-size:100%; font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif; font-weight:bold;
	top:14px;
	text-shadow: 0 1px 0 #000;
}

.tickercontainer { /* the outer div with the black border */
background-color: #195cd2;
width: 100%; /* 738px;  */
height: 50px; 
margin: 30px 0 0 0; 
padding: 0;
overflow: hidden; 
} 

.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
position: relative;
left: 120px;
top: 8px;
width: 90%; /* 718px; */
overflow: hidden;
}
ul.newsticker { /* that's your list */
position: relative;
left: 750px;
font: bold 10px 'Arimo', Arial;
list-style-type: none;
margin: 0;
padding: 0;

}
ul.newsticker li {
float: left; /* important: display inline gives incorrect results when you check for elem's width */
margin: 0;
padding: 0;
background-color: #195cd2;
line-height:34px;
}
ul.newsticker a {
white-space: nowrap;
padding: 0;
color: #FFF;
font: normal 140% 'Arimo', Arial;
margin: 0 0 0 0;
} 
ul.newsticker a:hover{ color:#FF0; }
ul.newsticker span {
color:#000;
font: bold 120% 'Arimo', Arial;
margin: 0 50px 0 10px;
} 