/* -- Basics -- */
html, body, div, p, li, ul, ol, form, fieldset, h1, h2, h3, h4, h5, h6   {
	margin: 0;
	padding: 0;
	list-style: none;
}

body		  {
	/*color: #660000;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.8%;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	background-color: #66666;
	background-image: url(../images/sbbg.jpg);
	padding: 0px;
}

button	 
     { vertical-align: middle; margin: 0; padding: 0; height: 18px; border: none; text-decoration: underline; font-weight: bold; color: #00CCFF; cursor: pointer; }


h1	{ font-size: 2em; }
h2	{ font-size: 1.6em; }
h3	{ font-size: 1.4em; }
h4	{ font-size: 1.2em; }
h5	{ font-size: 1.1em; }
h6	{ font-size: 1em; }
p   { line-height: 16px; }

h1, h2, h3, h4, h5, h6  { color: #3e3533; }



/* -- Icons list -- */
.ico              { padding-left: 15px; }
.ico-breezy       { background: url('../images/ico/ico-breezy3.gif') 2px 0 no-repeat; padding: 2px 0 1px 25px; }
.ico-breezy:hover { background-position: 2px -18px; }
.ico-date         { background: url('../images/ico/ico-date.gif') 0 50% no-repeat; }

/* -- User friendly features -- */
.hidden   { display: none; }

/* -- Basics layout -- */
#main_nav {
	display: block;
	background: url('../images/bg-body.jpg');
	margin-top: 0px;
	padding-top: 0px;
	position: relative;
	vertical-align: top;
}
#main_nav_container {
	width: 100%;
	margin: 0 auto;
	text-align: left;
	
}
#main_nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
}
#main_nav ul li {
	display: inline-block;
	font-family: Arial;
	font-size: small;
	/*color: #fff;*/s
	}
#main_nav ul li img {
	vertical-align: middle;
	size: auto;
	padding: 1px;
}
#main_nav ul li:hover{
	/*text-decoration: underline;*/
	background-color: #555;
}
#main_nav ul li a,visited {
	color: #ccc;
	/*color:#c3a253;/*/
	display: block;
	padding: 10px;
	text-decoration: none;
}
#main_nav ul li a:hover {
	color: #000000;
	text-decoration: none;
	background-color: #808080;
	/*background-color: #c3a253;*/
}
#main_nav ul li:hover ul {
	display: block;
	}
#main_nav ul ul{
	display: none;
	position: absolute;
	background-color: #555;
	/*background-color: #c3a253;*/
	margin-left: -10px;
	margin-top: 10px;
	}
#main_nav ul ul li{
	display: block;
	color: #ccc;
	/*color: #c3a253;*/
}
#main_nav ul ul li a,visited {
	color: #fff;
	/*color: #c3a253;*/
}
#main_nav ul ul li a:hover {
	color: #000000;
}
.sub {
	display: block;
	color: #ccc;
	/*color: #c3a253;*/
	padding: 10px;
	margin: 0;
}
.sub:hover{
	color: #000000;
}
.defaultpar {
	width: 80%;
	margin: 50px;
}
.messagewidth{
	text-align: justify;
}
.messagepar{
	font-size: 15px;
	text-indent: 40px;
}
.indented{
	padding-left: 60px;
	padding-right: 60px;
	font-size: 15px;
}
.bulletblocks{
	margin-left: 40px;
	margin-right: 40px;
}
.anchor1{
	text-decoration: none;
	color: #570000
}
.anchor1 a:hover {
	color:#111cee;
}
.transparent-block {
	margin-left: 100px;
	margin-right: 100px;
	text-align: justify;
}
.transparent-block blockquote {
	text-align: justify;
}
.linklogo {
	position: absolute;
	padding: 0 50px;
	overflow: hidden;	
	background-repeat: no-repeat;
	background-position: 0 0;
}
#banner {
	line-height: 0px;
	background-color: #4E0909;
	text-align: center;
}
#view     {margin: 0 auto;  }
/*#head     { font-size: 1.2em; height: 202px; position: relative; }*/
#content  {
	font-size: 13px;
	padding: 0 15px 0 15px;
}
#foot     { font-size: 1.2em; clear: both; }


#logo    {
	position: relative;
	padding-bottom: 0px;
	margin: 0 0 0 0px;
	height: 136px;
	width: 900px;
	overflow: hidden;
/*	background-image: url(../images/head_banner_update7.png);*/
	background-repeat: no-repeat;
	background-position: 0 0;
}
#logolink  {
	position: absolute;
	top: 24px;
	left: 777px;
	width: 91px;
	height: 91px;
	background-color: transparent;
	border: 1px solid yellow;
	
}

#content    { padding: 30px 50px 25px 50px; overflow: hidden; height: 100%; background: #fff url('../images/bg-content.gif') repeat-y;}
#foot       { height: 68px; background: #312b2a url('../images/bg-foot.jpg') no-repeat; }

#main_nav ul ul li a{
	text-align: left;
}

#sbsc{
	border-radius: 6px;
	width: 705px;
}

#maincontent{
	width: 75%;
}

#sidecontent{
	width: 25%;
	padding-top: 7px;
	text-align: justify;
}

li#lgi.list-group-item{
	border: 0 0 1px 0;
}

.list-group-item{
  position: relative;
  display: block;
  padding: 10px 15px;
  /*Place the border on the list items and negative margin up for better styling*/
  margin-bottom: -1px;
  border: 1px solid #555;
}

li#lgi.list-group-item{
	border: none;
	padding-left: 0;
}

.list-group-item a:hover{
	color: #00e;
}

#cc{
	font-weight: 700;
}

#date{
	font-style: italic;
}

#sm{
	border: none;
	padding-left: 0;
	color: #00e;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .list-group,
.panel > .panel-collapse > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item,
.panel > .panel-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel > .list-group:first-child .list-group-item:first-child,
.panel > .panel-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .list-group:last-child .list-group-item:last-child,
.panel > .panel-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .panel-heading + .panel-collapse > .list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.list-group + .panel-footer {
  border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive > .table,
.panel > .panel-collapse > .table {
  margin-bottom: 0;
}
.panel > .table caption,
.panel > .table-responsive > .table caption,
.panel > .panel-collapse > .table caption {
  padding-right: 15px;
  padding-left: 15px;
}
.panel > .table:first-child,
.panel > .table-responsive:first-child > .table:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.panel > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.panel > .table:last-child,
.panel > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.panel > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive,
.panel > .table + .panel-body,
.panel > .table-responsive + .panel-body {
  border-top: 1px solid #ddd;
}
.panel > .table > tbody:first-child > tr:first-child th,
.panel > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.panel > .table-responsive {
  margin-bottom: 0;
  border: 0;
}
.panel-group {
  margin-bottom: 20px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 4px;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #ddd;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #ddd;
}
.panel-default {
  border-color: #ddd;
}
.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ddd;
}
.panel-default > .panel-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ddd;
}
.panel-primary {
  border-color: #171717;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #171717;
  border-color: #171717;
  background-image:  url('../images/bg-body.jpg');
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #171717;
}
.panel-primary > .panel-heading .badge {
  color: #171717;
  background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #171717;
}