::selection { background-color: #E13300; color: white; }
	::-moz-selection { background-color: #E13300; color: white; }

	@font-face {
	font-family: "Trajan";
	src: url('../fonts/Cinzel-Regular.ttf');
	}

	@font-face {
		font-family: "Roboto";
		src: url('../fonts/RobotoCondensed-Regular.ttf');
	}


	body {
		background-color: #fff;
		margin-top: 80px;
		margin-bottom: 100px;
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
		text-align: center;
		font-family: Tahoma,Helvetica,Arial,sans-serif
	}

	a {
		color: #003399;	
		background-color: transparent;
		font-weight: normal;
	}

	h1 {
		border-bottom: 1px solid #D0D0D0;
		font-size: 19px;
		font-weight: normal;
	}

	code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}

	#content {
		display: inline-block;
		text-align: left;
		background-color: #fff;
		box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
		padding: 17px;
		width: 100%;
		border-top: 8px solid #ddd;
		max-width: 640px;
	}

	p.footer {
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}

	#container {

	}

	.color-banner {
		top: 0;
		left: 0;
		width: 100%;
		height: 165px;
		position: absolute;
		z-index: -1000;
		background-color: #9d9d9d;
	}

.form-required {
  font-weight: normal;
  margin-top: 20px;
}

.form-required:after {
  content: "*";
  color: #db4437;
}

div.required-note {
	margin-top: 20px;
	font-size: 12px;
	color: #db4437;
}

hr {
  margin-top: 0;
  margin-bottom: 2.5px;
  border: 0;
  border-top: 1px solid #eee;
}

input[name=email] {
	width: 50%;
}

.prevent-hover {
	cursor: default !important;
}

.prevent-hover:hover {
	text-decoration: none;
}