@font-face {
	font-family: "Trajan";
	src: url('../fonts/Cinzel-Regular.ttf');
}

@font-face {
	font-family: "Roboto";
	src: url('../fonts/RobotoCondensed-Regular.ttf');
}

body {
background: #D9D9D9;
background: -moz-radial-gradient(center, ellipse cover, #fcfcfc 0%, #f2f2f2 47%, #d9d9d9 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #fcfcfc), color-stop(47%, #f2f2f2), color-stop(100%, #d9d9d9));
background: -webkit-radial-gradient(center, ellipse cover, #fcfcfc 0%, #f2f2f2 47%, #d9d9d9 100%);
background: -o-radial-gradient(center, ellipse cover, #fcfcfc 0%, #f2f2f2 47%, #d9d9d9 100%);
background: -ms-radial-gradient(center, ellipse cover, #fcfcfc 0%, #f2f2f2 47%, #d9d9d9 100%);
background: radial-gradient(ellipse at center, #fcfcfc 0%, #f2f2f2 47%, #d9d9d9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#d9d9d9', GradientType=1 );
	font-family: "Tahoma";
}

#banner{
	width: 100%;
	height: 136px;
	background-color: #500000;
	color: #ffffff;
}

#dept-name h1, #dept-name h3, #dept-name h4{
	font-family: "Trajan";
	font-weight: 500;
}

#dept-name h1 {
	margin: 0;
	font-size: 28px;
}

#dept-name h3 {
	margin: 0;
	font-size: 14px;
	border-bottom: 1px solid #FFF;
	margin: 12px 0 5px 0;
	font-size: 19px;
	padding: 0 0 5px 0;
	display: inline-block;
	width: 285px;
}

/*#dept-name h1, h2 {
	font-family: "Trajan";
	font-weight: 550;
	margin: 5px 5px 5px 0px;
}

#dept-name h1{ font-size: 26pt; }
#dept-name h2{ font-size: 12pt; }

#dept-name h1{
	margin-bottom: 0px;
}*/

#logo{
	height: 110px;
	width: auto;
	margin: 15px 20px 10px 30px;
	display: inline;
	vertical-align: top;
}

#dept-name{
	padding-top: 20px;
	display: inline-block;
}

#line{
	height: 2px;
	width: 300px;
	background-color: #ffffff;
}

#seal{
	height: 110px;
	width: auto;
	margin: 15px 30px 10px 0px;
	display: inline;
	vertical-align: top;
	float: right;
}

#main_nav_container ul li{
		font-family: "Roboto";
}

.content a{
	color: #660000;
}

#msg{
	width: 640px;
	background-color: #D9D9D9;
	padding: 15px 0px 15px 0px;
}

#jstc{
	height: 200px;
	width: auto;
	display: inline;
	padding-right: 15px;
}

#nm{	
	width: 60%;
	display: inline-block;
	text-align: justify;
	vertical-align: top;
	padding-top: 10px;
}

#nm h5 {
	font-family: "Roboto";
	font-size: 11.25pt;
	margin: 0px;
}

#nm h6{
	font-family: "Roboto";
	font-size: 10pt;
	margin: 0px;
	color: #660000;
}

#foot{
	background-color: #222222;
	background-image: url('../background/fbg.png');
	color: #C3A253;
	font-family: "Roboto";
	font-size: small;
	padding: 15px 0px 20px 0px;
}

#foot a{
	color: #ccc;
	text-decoration: none;
}

#foot a:hover{
	color: #ffffff;
}

#phseal{
	width: 100px;
	padding-bottom: 5px;
}