<style type="text/css">

a:link {
color:#666666;
font-size:9px;
text-decoration:none;
font-family: Verdana, Arial, Helvetica, sans-serif;

	   }
	   
	   
.dead_link
{
color:#666666;
font-size:9px;
text-decoration:none;
font-family: Verdana, Arial, Helvetica, sans-serif;
}	   
.advisory_link
{
color:#FF0000;
font-size:9px;
font-weight:bold;
text-decoration:none;
font-family: Verdana, Arial, Helvetica, sans-serif;
}	 



a:hover {
color:#666666;
font-size:9px;
font-weight:bold;
text-decoration:none;
font-family: Verdana, Arial, Helvetica, sans-serif;

	    }	  
		
a:visited{
color:#666666;
font-size:9px;
text-decoration:none;
font-family: Verdana, Arial, Helvetica, sans-serif;

	     }			


.forms{
border-color:#333333;
border-width:1px;
font-size:12px;
	  }

.style1 {
font-size: 9px;
border: 1px solid #CCCCCC;
color: #666666;
		}
		
.table_heading
		{
	font-size: 70%;
	font-weight:bold;
	color: #FFFFFF;
		}
		
.head_text {
	font-family: "Times New Roman", Times, serif;
	color: #000000;
	font-size: 125%;
	text-decoration:none;
	
		}		
.body_text {
	color: #000000;
	font-size: 70%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
		}					
		
.body_text_reverse {
	color: #FFFFFF;
	font-size: 70%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;
		}			
		
		
.rms_head	{

	font-size:70%;
	font-weight:bold;
	color:#000000;
	font-family:Verdana, Arial, Helvetica, sans-serif;

	}		
		
.style5 {
	color: #000000;
	font-size: 65%;
	text-decoration:none;	
		}			
					
body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
}

body {
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #121212;
	background-repeat:repeat-x;
	
	
}


</style>