/* -- Basics -- */
html, body, div, p, li, ul, ol, form, fieldset, h1, h2, h3, h4, h5, h6   {
	margin: 0;
	padding: 0;
	list-style: none;
}

body		  {
	/*color: #660000;*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.8%;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	background-color: #66666;
	background-image: url(../images/sbbg.jpg);
	padding: 0px;
}

button	 
     { vertical-align: middle; margin: 0; padding: 0; height: 18px; border: none; text-decoration: underline; font-weight: bold; color: #00CCFF; cursor: pointer; }


h1	{ font-size: 2em; }
h2	{ font-size: 1.6em; }
h3	{ font-size: 1.4em; }
h4	{ font-size: 1.2em; }
h5	{ font-size: 1.1em; }
h6	{ font-size: 1em; }
p   { line-height: 16px; }

h1, h2, h3, h4, h5, h6  { color: #3e3533; }



/* -- Icons list -- */
.ico              { padding-left: 15px; }
.ico-breezy       { background: url('../images/ico/ico-breezy3.gif') 2px 0 no-repeat; padding: 2px 0 1px 25px; }
.ico-breezy:hover { background-position: 2px -18px; }
.ico-date         { background: url('../images/ico/ico-date.gif') 0 50% no-repeat; }

/* -- User friendly features -- */
.hidden   { display: none; }

/* -- Basics layout -- */
#main_nav {
	display: block;
	background: url('../images/bg-body.jpg');
	margin-top: 0px;
	padding-top: 0px;
	position: relative;
	vertical-align: top;
}
#main_nav_container {
	width: 100%;
	margin: 0 auto;
	text-align: left;
	
}
#main_nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
}
#main_nav ul li {
	display: inline-block;
	font-family: Arial;
	font-size: small;
	/*color: #fff;*/
	}
#main_nav ul li img {
	vertical-align: middle;
	size: auto;
	padding: 1px;
}
#main_nav ul li:hover{
	/*text-decoration: underline;*/
	background-color: #555;
}
#main_nav ul li a,visited {
	color: #ccc;
	/*color:#c3a253;/*/
	display: block;
	padding: 10px;
	text-decoration: none;
}
#main_nav ul li a:hover {
	color: #000000;
	text-decoration: none;
	background-color: #808080;
	/*background-color: #c3a253;*/
}
#main_nav ul li:hover ul {
	display: block;
	}
#main_nav ul ul{
	display: none;
	position: absolute;
	background-color: #555;
	/*background-color: #c3a253;*/
	margin-left: -10px;
	margin-top: 10px;
	}
#main_nav ul ul li{
	display: block;
	color: #ccc;
	/*color: #c3a253;*/
}
#main_nav ul ul li a,visited {
	color: #fff;
	/*color: #c3a253;*/
}
#main_nav ul ul li a:hover {
	color: #000000;
}
.sub {
	display: block;
	color: #ccc;
	/*color: #c3a253;*/
	padding: 10px;
	margin: 0;
}
.sub:hover{
	color: #000000;
}
.defaultpar {
	width: 80%;
	margin: 50px;
}
.messagewidth{
	text-align: justify;
}
.messagepar{
	font-size: 15px;
	text-indent: 40px;
}
.indented{
	padding-left: 60px;
	padding-right: 60px;
	font-size: 15px;
}
.bulletblocks{
	margin-left: 40px;
	margin-right: 40px;
}
.anchor1{
	text-decoration: none;
	color: #570000
}
.anchor1 a:hover {
	color:#111cee;
}
.transparent-block {
	margin-left: 100px;
	margin-right: 100px;
	text-align: justify;
}
.transparent-block blockquote {
	text-align: justify;
}
.linklogo {
	position: absolute;
	padding: 0 50px;
	overflow: hidden;	
	background-repeat: no-repeat;
	background-position: 0 0;
}
#banner {
	line-height: 0px;
}
#view     { width: 900px; margin: 0 auto;  }
/*#head     { font-size: 1.2em; height: 202px; position: relative; }*/
#content  {
	font-size: 13px;
}
#foot     { font-size: 1.2em; clear: both; }


#logo    {
	position: relative;
	padding-bottom: 0px;
	margin: 0 0 0 0px;
	height: 136px;
	width: 900px;
	overflow: hidden;
/*	background-image: url(../images/head_banner_update7.png);*/
	background-repeat: no-repeat;
	background-position: 0 0;
}
#logolink  {
	position: absolute;
	top: 24px;
	left: 777px;
	width: 91px;
	height: 91px;
	background-color: transparent;
	border: 1px solid yellow;
	
}

#content    { padding: 30px 0 25px; overflow: hidden; height: 100%; background: #fff url('../images/bg-content.gif') repeat-y; }
#foot       { height: 68px; background: #312b2a url('../images/bg-foot.jpg') no-repeat; }



